Host marietta
 User dianamalcolm
 HostName 71.204.52.190
Host home
 HostName 69.94.193.128

Host *
  Protocol 2,1
  TCPKeepAlive yes

  ForwardX11 no

  RSAAuthentication yes
  PasswordAuthentication yes

  EscapeChar ~
  BatchMode no

  Compression yes
  ConnectionAttempts 1

  # if want looser checks...
  #CheckHostIP no
  #StrictHostKeyChecking no
  #HostbasedAuthentication no
  #UserKnownHostsFile /dev/null

  IdentityFile ~/.ssh/id_rsa
  IdentityFile ~/.ssh/id_dsa
