Host *
  Protocol 2
  TCPKeepAlive yes

  ForwardX11 no

  #RSAAuthentication yes
  PasswordAuthentication yes

  EscapeChar ~
  BatchMode no

  Compression yes
  ConnectionAttempts 1

  # if want looser checks...
  #CheckHostIP no
  #StrictHostKeyChecking no
  #HostbasedAuthentication no
  #UserKnownHostsFile /dev/null

  IdentityFile ~/.ssh/id_rsa
